
/* start of the main style section */
.Main{
     display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " sidebar main ";
    background-color: #f2f2f2;
}

/* end of the main style section */
/*start of the filter section */
.Section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: sidebar;
    width: 100%;
}
.CenterBox{
    margin-right: 4rem;
    text-align: left;
}
.Title{
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 1.2rem;
}
.Select{
     width: 120px;
    height: 25px;
}
.Option{
  margin-bottom: 0.5rem;
}
.Container{
   margin-bottom: 0.5rem;
}
.SpaceContainer{
margin: 2rem 0;
}
.Span{
    display: block;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1.1rem;
}
.InputMin{
   width: 45px;
    border-radius: 4px;
    outline: none;
}
.InputMax{
     width: 45px;
    margin-left: 10px;
    border-radius: 4px;
    outline: none;
}
.Label{
   display: block;
}
.LabelText{
  display: inline-block;
    width: 70px;
    margin-right: 2rem;
}
.Checkout{
  width: 13px;
  height: 13px;
}
/*end of the filter section */
/*this is the main section */
.section-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: " sidebar main ";
  background-color: #f2f2f2;
}
/*this is the main section */
.Section-listing{
   grid-area: main;
    margin-top: 1.4rem;
}
.ConTitle{
  text-align: start;
}
.Title{
   font-family: "Arial, Helvetica, sans-serif";
    color: black;
}
.Properties{
     width: 100vw;
    max-width: 600px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.Article{
    background-color: white;
    /* &:hover {
      Address {
        opacity: 0;
      }
    } */
}
.Info{
  position: relative;
    cursor: pointer;
}
.Container-listing{
    background: rgba(100, 10, 150, 0.8);
    border-radius: 5px;
    position: absolute;
    top: 1;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    /* &:hover {
      opacity: 1;
    } */
    /* &:hover {
      Address {
        opacity: 0;
      } */
}
.Container-listing:hover{
  opacity:1;
}
.Container-listing .Address:hover{
  opacity:0;
}
.Address{
      display: block;
    position: absolute;
    opacity: 1;
    z-index: 4;
    top: 80%;
    left: 10%;
    color: white;
    height: fit-content;
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
}
.ImageContainer{
     overflow: hidden;
    cursor: pointer;
    /* height: 15rem; */
    z-index: 3;
}
.Image{
  height: 100%;
    width: 100%;
}
.Location{
  margin-left: 20px;
    color: orange;
}
.Span-1{
    display: inline-block;
    margin-left: 10px;
    color: black;
}
.AgentListing{
   position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
}
.AgentDetail{
     display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.ImgAgent{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    padding-top: 10%;
}
.ImgPhoto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.ViewListing{
      padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    transition: background-color 0.5s ease-in-out;
    /* &:hover {
      background-color: black;
    } */
}

.ImgAgentDetail{
      display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}
.Pagination{
  padding: 10px;
    width: 600px;
}
.Ul{
      width: 30%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Li1{
     display: block;
    padding-right: 3px;
    color: white;
    list-style: none;
    font-size: 1.1rem;
    background-color: red;
    cursor: pointer;
}
.Li {
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.TitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
.Input{
  width: 70%;
    height: 1.2rem;
}
.Select-listing{
   width: 25%;
    height: 1.3rem;
}

.Icon{
   width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



 /* //const Section = styled.section`
  //   grid-area: main;
  //   margin-top: 1.4rem;
  // `;
  // const ConTitle = styled.div`
  //   text-align: start;
  // `;

  // const Title = styled.h2`
  //   font-family: "Arial, Helvetica, sans-serif";
  //   color: black;
  // `;
  // const Properties = styled.div`
  //   width: 100vw;
  //   max-width: 600px;
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  //   grid-column-gap: 1.5rem;
  //   grid-row-gap: 2rem;
  // `;
  // const Article = styled.article`
  //   background-color: white;
  //   &:hover {
  //     Address {
  //       opacity: 0;
  //     }
  //   }
  // `;
  // const Info = styled.div`
  //   position: relative;
  //   cursor: pointer;
  // `;
  // const Container = styled.div`
  //   opacity: 0;
  //   /* background-color: rgba(78, 2, 229, 0.8); */
  /* //   background: rgba(100, 10, 150, 0.8);
  //   border-radius: 5px;
  //   position: absolute;
  //   top: 1;
  //   right: 0;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;
  //   transition: opacity 0.5s ease-in-out;
  //   &:hover {
  //     opacity: 1;
  //   }
  //   &:hover {
  //     Address {
  //       opacity: 0;
  //     }
  //   }
  // `;

  // const Address = styled.address`
  //   display: block;
  //   position: absolute;
  //   opacity: 1;
  //   z-index: 4;
  //   top: 80%;
  //   left: 10%;
  //   color: white;
  //   height: fit-content;
  //   font-size: 1.3rem;
  //   transition: all 0.5s ease-in-out;
  // `;

  // const ImageContainer = styled.div`
  //   overflow: hidden;
  //   cursor: pointer;
  //   height: 18rem;
  //   z-index: 3;
  // `;
  // const Image = styled.img`
  //   height: 100%;
  //   width: 100%;
  // `;
  // const Location = styled.div`
  //   margin-left: 20px;
  //   color: orange;
  // `;
  // const Span = styled.span`
  //   display: inline-block;
  //   margin-left: 10px;
  //   color: black;
  // `;

  // const AgentListing = styled.div`
  //   position: absolute;
  //   top: 40%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   color: white;
  // `;
  // const AgentDetail = styled.div`
  //   display: flex;
  //   justify-content: space-between;
  //   width: 100%;
  //   height: 100%;
  // `;
  // const ImgAgent = styled.div`
  //   width: 50px;
  //   height: 50px;
  //   margin-right: 15px;
  //   padding-top: 10%;
  // `;
  // const ImgPhoto = styled.img`
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 50%;
  // `;
  // const ViewListing = styled.p`
  //   padding: 10px;
  //   text-align: center;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: pink;
  //   transition: background-color 0.5s ease-in-out;
  //   &:hover {
  //     background-color: black;
  //   }
  // `;
  // const ImgAgentDetail = styled.div`
  //   display: flex;
  //   flex-direction: column-reverse;
  //   justify-content: center;
  //   align-items: center;
  //   padding-top: 0px;
  // `;
  // const Pagination = styled.div`
  //   padding: 10px;
  //   width: 600px;
  // `;

  // const Ul = styled.ul`
  //   width: 30%;
  //   float: left;
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  // `;
  // const Li1 = styled.li`
  //   display: block;
  //   padding-right: 3px;
  //   color: white;
  //   list-style: none;
  //   font-size: 1.1rem;
  //   background-color: red;
  //   cursor: pointer;
  // `;
  // const Li = styled.li`
  //   list-style: none;
  //   font-size: 1.1rem;
  //   cursor: pointer;
  // `;
  // const TitleContainer = styled.div`
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 600px;
  // `;
  // const Input = styled.input`
  //   width: 70%;
  //   height: 1.2rem;
  // `;
  // const Select = styled.select`
  //   width: 25%;
  //   height: 1.3rem;
  // `;
  // const Option = styled.option``;
  // const Icon = styled.div`
  //   width: 10%;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // `; */ 

